<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <form class="shoping-cart spad" action="/index/basket" method="post" th:object="${basket}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, stat: ${basket.itemList}">
                                <td class="shoping__cart__item">
                                    <img th:src="${item.product.imagePath}" alt="">
                                    <h5 th:text="${item.product.name}"></h5>
                                </td>
                                <td class="shoping__cart__price"
                                    th:text="${#numbers.formatDecimal(item.product.price, 1,2, 'COMMA')} + '€'">
                                    $55.00
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" th:data-index="${stat.index }"
                                                   th:value="${item.quantity}">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    <span th:text="${#numbers.formatDecimal(item.total, 1,2, 'COMMA')}"></span>
                                    <span>€</span>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close" th:data-index="${stat.index}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Total
                                <span id="total"
                                      th:text="${#numbers.formatDecimal(session.basket.total, 1,2, 'COMMA')} + '€'"></span>
                                <span>€</span>
                            </li>
                        </ul>
                        <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>